<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SweetyFit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C6BE9DB51FD9173B00569EC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6BE9DCE1FD9173B00569EC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6BE9DD91FD9173B00569EC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
